# Run `git archive --format=zip --output=basmagi-quiz.zip HEAD` to export.
.github/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Large Files
public/assets/profile-featured/ export-ignore
public/assets/quiz-media/ export-ignore
public/assets/quiz-sources/ export-ignore
public/assets/videos/ export-ignore