*.md
*.txt

!robots.txt
!README.md
!CHANGELOG.MD

# Visula Studio files
.vscode/

# Service Worker cache
sw-cache/

.vercel/
.env*.local

# Git files
.git/

# Node modules
node_modules/

# Font files and other binary assets that don't need version control
*.ttf
*.otf
*.woff
*.woff2