*.md
*.txt

!robots.txt
!README.md
!CHANGELOG.MD

# Local FilesStudio files
.git/
.cursor/
.vscode/
.claude/
.vercel/
.vercel
node_modules/
.env*
.env*.local
.env.local

# Local Documents
# docs/

# Service Worker cache
sw-cache/

basmagi-quiz.zip