*.md
*.txt

!robots.txt
!README.md
!CHANGELOG.MD

# Local FilesStudio files
.cursor/
.vscode/
.vercel/
node_modules/
docs/
.env*
.env*.local
.env.local

# Service Worker cache
sw-cache/


# Git files
.git/

.vercel
